<div *ngIf="identity" class="navigation col-lg-1">
  <h1>
    {{title}}
  </h1>
</div>

<div class="clearfix"></div>

<div *ngIf="identity" class="navigation col-lg-11">
  <h1>
    {{title}}
  </h1>
  <p>Estas logueado</p>
</div>

<div class="col-lg-12" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
      <p>
        <label>Correo Electronico:</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
        <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary" />
    </form>
  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <form class="col-md-10">
      <p>
        <label>Nombre:</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label>Apellidos:</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label>Correo Electronico:</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" class="form-control" required/>
      </p>
      <input type="submit" value="Registrarse" class="btn btn-primary" />
    </form>
  </div>
</div>